.admin-title{
    font-size: large;
    margin-bottom: 1%;
}
.admin-container{
    border: 2px solid black;
    margin: 25px;
    position: relative;
}

.product-list-header{
    border: 1px solid black;
    position: relative;
}
.product-list-row{
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}

.product-row{
    padding:5px;
}

.product-list-header-item{
    font-weight: bold;
}

.admin-button{
    width: 110px;
}

.admin-button-column{
    margin:6px;
}

.inventory-input{
    width: 70px;
}

.padding-0 {
    padding-right: 0;
    padding-left: 1%;
}

.header1{
    padding: 60px;
    text-align: center;
    background: #289c86;
    color: white;
    font-size: 50px;
}
