<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
   <link rel="stylesheet" type="text/css" href="/stylesheets/admin.css" />
   <body>
<!--      <div class="admin-header" id="admin-name">-->
<!--         <li th:text="${name}"></li>-->
<!--         <button id="test-button">Click Me!</button>-->
<!--      </div>-->
      <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
      <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
      <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <div class = container admin-container>
            <div class="row">
                <div class="container ">
                     <div class="row">
                        <div class="col-lg-12 center text-center admin-title">
                           Dalcart Admin
                        </div>
                     </div>

                    <div class="row product-list-header">
                        <div class="col-lg-3 text-center product-list-header-item">
                           Product Name
                        </div>
                        <div class="col-lg-3 text-center product-list-header-item">
                           Current Inventory
                        </div>
                        <div class="col-lg-3 text-center product-list-header-item">
                           Add to Inventory
                        </div>
                        <div class="col-lg-3 text-center product-list-header-item">
                           Enabled?
                        </div>
                    </div>
                    <div class="row product-list-row text-center product-row">
                        <div class="col-lg-3 flex">
                            Iphone
                        </div>
                        <div class="col-lg-3 flex">
                            100
                        </div>
                        <div class="col-lg-3 flex">
                            <input type="number" step="1" id="inventory" min="0" max="999">
                        </div>
                        <div class="col-lg-3 flex">
                            <input class="form-check-input" type="checkbox" value="" id="enabled">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center admin-button-column">
                    <button type="button" class="btn btn-dark admin-button" id="submit_inventory">Save</button>
                </div>
            </div>
        </div>
      <script>
         //alert("Hello World!");
            $("#admin-name").css("background","#002aff");
               $("#test-button").click(function(){
                  alert("Hello World");
                  $.ajax({
                     url: "/get_product_name",
                     type: 'GET',
                     data: {
                         id: 4,
                         userid: "asas",
                         email: "trahahshash@jadsja"
                       },
                     dataType: 'json', // added data type
                     success: function(res) {
                        console.log(res);
                        alert(res);
                  }
               });
            });
      </script>
   </body>
</html>

