<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
   <link rel="stylesheet" type="text/css" href="/stylesheets/admin.css" />
   <body>
<!--      <div class="admin-header" id="admin-name">-->
<!--         <li th:text="${name}"></li>-->
<!--         <button id="test-button">Click Me!</button>-->
<!--      </div>-->
      <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
      <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
      <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <div class = container admin-container>
            <form action="" >
                <div class="row">
                    <div class="container ">
                         <div class="row">
                            <div class="col-lg-12 center text-center admin-title">
                               Dalcart Admin
                            </div>
                         </div>

                        <div class="row product-list-header">
                            <div class="col-lg-3 text-center product-list-header-item">
                               Product Name
                            </div>
                            <div class="col-lg-3 text-center product-list-header-item">
                               Current Inventory
                            </div>
                            <div class="col-lg-3 text-center product-list-header-item">
                               Add to Inventory
                            </div>
                            <div class="col-lg-3 text-center product-list-header-item">
                               Enabled?
                            </div>
                        </div>
                        <div class="row product-list-row text-center product-row" th:each="product: ${products}">
                            <div class="col-lg-3 flex"  th:text="${product.productName}"></div>
                            <div class="col-lg-3 flex"   th:text="${product.productQuantity}" ></div>
                            <div class="col-lg-3 flex">
                                <input class="product-detail" type="number" step="1" th:name = "'product-inventory-' + ${product.productId}" min="0" max="999" th:value="0"/>
                            </div>
                            <div class="col-lg-3 flex">
                                <input class="form-check-input inventory-input product-detail" th:name = "'product-enabled-' + ${product.productId}" type="checkbox"  th:checked="${product.enabled}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center admin-button-column">
                        <input type="submit" class="btn btn-dark admin-button"/>
                    </div>
                </div>
            </form>
        </div>
      <script>
        $( "form" ).on( "submit", function(e) {
            var dataString = $(this).serialize();
            $.ajax({
              type: "POST",
              url: "/admin/submit_product_data",
              data: dataString,
              success: function () {
                alert("Product Data Submitted Successfully!");
              },
              error: function (request, status, error) {
                alert("Submit Failed, Please Try Again After Sometime");
              }
            });
            e.preventDefault();
          });

      </script>
   </body>
</html>

