<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <div class = "home">
        <table style="border: 1px solid black; border-collapse: collapse;" >
            <thead>
                <tr>
                    <th>Product name</th>
                    <th>product Description</th>
                    <th>Product Price</th>
                </tr>
            </thead>
            <tbody>
<!--            <th:block th:each="person : ${personBind}">-->

                <tr th:each="product : ${listproducts}">
                    <td th:text="${product.productName}"></td>
                    <td th:text="${product.productDescription}"></td>
                    <td th:text="${product.productPrice}"></td>
                </tr>

<!--            </th:block>-->
            </tbody>
        </table>
    </div>
</body>
</html>